models
local_model
deletar*
*.env
.env
mysql.env
oracle.env
*/__pycache__
*.pyc
*.json
*.gguf
*.parquet
*.gzip
*.gz
/services/llm_models/__pycache__
/pgvector
data/
*.sav
*.ipynb
/logs
*.egg*
*build/
*/.conda
.vscode
logs
*.log
